@font-face {
  font-family: DevilChildren;
  src: url('/assets/fonts/Devil\ Children\ GBC\ English\ Patch\ Font.ttf');
}

html {
  overflow: hidden;
  scrollbar-width: none;
}

body {
  background-color: #0a0a0a;
  color: #c2c2c2;
  font-size: 20px;
  font-family: DevilChildren;
  margin-top: 100vh;
  margin-left: 0;
  margin-right: 0;
}

body.minimized {
  margin-top: 110px;
}

section {
  height: 100vh;
  padding: 40px;
  text-align: center;

}

#app-container {
  margin-top: 0;
}


#app-container.minimized {
  margin-top: 100vh;
}